<ion-header>

  <ion-navbar>
    <ion-title>Log In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()" [formGroup]="loginFormControl">
    <ion-list inset>
      <ion-item>
        <ion-label>Username :</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <!--<p *ngIf="!email.valid && email.touched" danger>Username is empty</p>-->
      <ion-item *ngIf="!loginFormControl.controls.email.valid  && submitAttempt">
        <p>Please enter a valid email address.</p>
      </ion-item>
      <ion-item>
        <ion-label>Password :</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <br>
      <br>
      <button type="submit" ion-button color="primary" block>Login</button>
    </ion-list>
  </form>

</ion-content>