<ion-header>
  <ion-navbar>
    <ion-title>Application Settings </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Settings
    </ion-list-header>
    <ion-item>
      <ion-label>Event/Game</ion-label>
      <ion-select [(ngModel)]="location">
        <ion-option value="Goodies Collection">Goodies Collection</ion-option>
        <ion-option value="Event Registration">Event Registration</ion-option>
        <ion-option value="Check Point 1">Check Point 1</ion-option>
        <ion-option value="Check Point 2">Check Point 2</ion-option>
        <ion-option value="Check Point 3">Check Point 3</ion-option>
        <ion-option value="Check Point 4">Check Point 4</ion-option>
        <ion-option value="Check Point 5">Check Point 5</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Test Mode</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="debug" [checked]="debug"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Server</ion-label>
      <ion-select [(ngModel)]="serverPath">
        <ion-option *ngIf="debug" value="http://192.168.0.101/xplorail">BPK</ion-option>
        <ion-option *ngIf="debug" value="http://192.168.2.1/xplorail">Macbook Wifi</ion-option>
        <ion-option *ngIf="debug" value="http://10.128.48.36/xplorail">Development</ion-option>
        <ion-option value="http://explorail.bersepadu.com/gamecenter">Test GameCenter</ion-option>
        <ion-option value="https://explorail.prasarana.com.my/gamecenter">Live GameCenter</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-list>
    <ion-list-header>
      Configuration List
    </ion-list-header>
    <ion-item>
      <h2>Event/Game</h2>
      <p> {{ location }} </p>
    </ion-item>
    <ion-item *ngIf="debug">
      <h2>Server</h2>
      <p> {{ serverPath }}</p>
    </ion-item>
    <ion-item *ngIf="debug">
      <h2>Token</h2>
      <p> {{ token }} </p>
    </ion-item>
    <ion-item *ngIf="debug">
      <h2>User Id</h2>
      <p> {{ user_id }} </p>
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="!debug">
    <button ion-fab color="danger" *ngIf="token" (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
    <button ion-fab color="primary" *ngIf="!token" (click)="login()"><ion-icon name="log-in"></ion-icon></button>
  </ion-fab>
</ion-content>